Repository JuulLabs/kable, pull requests merged in 2021-11, with the labels that each got.

#186 Fix JS connection state stall
  core/src/jsMain/kotlin/Peripheral.kt
Labels: javascript

#187 Improve Advertising Robustness
  core/src/androidMain/kotlin/Scanner.kt
Labels: android

#63 Bump Kotlin to 1.6.0 and use hierarchical project structure
  .github/workflows/ci.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  core/build.gradle.kts
  core/src/appleMain/kotlin/Advertisement.kt
  core/src/appleTest/kotlin/AdvertisementTest.kt
  core/src/iosArm32Main
  core/src/iosArm32Test
  core/src/iosArm64Main
  core/src/iosArm64Test
  core/src/iosX64Main
  core/src/iosX64Test
  core/src/macosX64Main
  core/src/macosX64Test
  gradle.properties
Labels: android, apple, javascript

#196 Upgrade to MacOS 11 in publish and snapshot CI scripts
  .github/workflows/publish.yml
  .github/workflows/snapshot.yml
Labels: skip-changelog
