Repository JuulLabs/kable, pull requests merged in 2022-10, with the labels that each got.

#384 Surface bluetooth device name
  core/api/core.api
  core/src/androidMain/kotlin/Peripheral.kt
  core/src/appleMain/kotlin/Peripheral.kt
  core/src/commonMain/kotlin/Peripheral.kt
  core/src/jsMain/kotlin/Peripheral.kt
Labels: minor

#385 Enforce lowercase UUIDs for Web BLE filters
  core/src/jsMain/kotlin/Bluetooth.kt
Labels: patch

#392 Add support for scan options
  core/src/appleMain/kotlin/Scanner.kt
  core/src/appleMain/kotlin/ScannerBuilder.kt
Labels: apple, minor

#369 Use shared bluetooth state `BroadcastReceiver`
  core/src/androidMain/kotlin/BluetoothState.kt
  core/src/androidMain/kotlin/BluetoothStateBroadcastReceiver.kt
  core/src/androidMain/kotlin/Peripheral.kt
Labels: android, patch
