Repository JuulLabs/kable, pull requests merged in 2022-04, with the labels that each got.

#291 Check bluetooth state prior to connecting
  core/src/appleMain/kotlin/CentralManagerDelegate.kt
  core/src/appleMain/kotlin/Peripheral.kt
Labels: apple

#309 Remove `SNAPSHOT` publication
  .github/workflows/snapshot.yml
Labels: maintenance

#310 Replace usages of deprecated `CBCentralManagerState` constants
  core/src/appleMain/kotlin/CentralManagerDelegate.kt
  core/src/appleMain/kotlin/Peripheral.kt
Labels: apple

#311 Adjust `CODEOWNERS`
  .github/CODEOWNERS
Labels: skip-changelog

#313 Add Gradle configuration instructions for "new memory model"
  README.md
Labels: skip-changelog

#304 Retry service discovery if no services are discovered
  core/src/androidMain/kotlin/Peripheral.kt
Labels: android

#300 Fix `Peripheral` state not updating upon connection
  core/src/appleMain/kotlin/CentralManagerDelegate.kt
Labels: apple

#312 Fix write "without response" support
  core/src/appleMain/kotlin/Connection.kt
  core/src/appleMain/kotlin/Peripheral.kt
  core/src/appleMain/kotlin/PeripheralDelegate.kt
Labels: apple

#314 Fix links in project README
  README.md
Labels: skip-changelog
