Repository JuulLabs/kable, pull requests merged in 2023-08, with the labels that each got.

#541 Properly handle `null`s in deprecated Android BLE callbacks
  core/src/androidMain/kotlin/gatt/Callback.kt
Labels: patch

#551 CA-2351: Enable iOS Backgrounding
  core/src/appleMain/kotlin/CentralManager.kt
  core/src/appleMain/kotlin/CentralManagerDelegate.kt
  core/src/appleMain/kotlin/ScannerBuilder.kt
Labels: apple, minor

#552 CA-2351: Add Background BLE support for iOS (Part 2)
  core/src/appleMain/kotlin/CentralManager.kt
  core/src/appleMain/kotlin/CentralManagerDelegate.kt
  core/src/appleMain/kotlin/ScannerBuilder.kt
Labels: apple, patch

#558 Fix Android's scanner behavior when bluetooth is off
  core/src/androidMain/kotlin/BluetoothAdapter.kt
  core/src/androidMain/kotlin/BluetoothDeviceAndroidPeripheral.kt
  core/src/androidMain/kotlin/BluetoothLeScannerAndroidScanner.kt
Labels: android, patch
