Repository JuulLabs/kable, pull requests merged in 2023-09, with the labels that each got.

#561 Allow `CentralManager` to be configured
  README.md
  core/src/appleMain/kotlin/Bluetooth.kt
  core/src/appleMain/kotlin/CentralManager.kt
  core/src/appleMain/kotlin/CentralManagerConfiguration.kt
Labels: minor

#562 Disable `GradleDependency` Android lint check
  core/build.gradle.kts
Labels: maintenance

#553 Workaround for CBATTErrorDomain Code=14 "Peer removed pairing information"
  core/src/appleMain/kotlin/CBPeripheralCoreBluetoothPeripheral.kt
Labels: apple, patch

#516 Use `SharedRepeatableAction` for managing connect process
  core/src/androidMain/kotlin/BluetoothDevice.kt
  core/src/androidMain/kotlin/BluetoothDeviceAndroidPeripheral.kt
  core/src/androidMain/kotlin/Connection.kt
  core/src/androidMain/kotlin/gatt/Callback.kt
Labels: android, patch

#563 Add support for `autoConnect`
  README.md
  core/api/core.api
  core/src/androidMain/kotlin/BluetoothDevice.kt
  core/src/androidMain/kotlin/BluetoothDeviceAndroidPeripheral.kt
  core/src/androidMain/kotlin/Peripheral.kt
  core/src/androidMain/kotlin/PeripheralBuilder.kt
  core/src/androidMain/kotlin/Reflection.kt
Labels: android, minor

#572 Monitor disconnected state after connected
  core/src/androidMain/kotlin/BluetoothDeviceAndroidPeripheral.kt
  core/src/appleMain/kotlin/CBPeripheralCoreBluetoothPeripheral.kt
Labels: skip-changelog, android, apple, patch

#575 Throw `GattRequestRejectedException` when `setCharacteristicNotification` fails
  core/src/androidMain/kotlin/BluetoothDeviceAndroidPeripheral.kt
Labels: patch

#576 Throw `LocationManagerUnavailableException` when `LocationManager` is unavailable
  core/src/androidMain/kotlin/Bluetooth.kt
  exceptions/api/exceptions.api
  exceptions/src/commonMain/kotlin/Exceptions.kt
Labels: android, minor

#573 Propagate failures from `connect` as failures rather than cancellation
  README.md
  core/src/androidMain/kotlin/BluetoothDeviceAndroidPeripheral.kt
  core/src/androidMain/kotlin/Connection.kt
  core/src/appleMain/kotlin/CBPeripheralCoreBluetoothPeripheral.kt
  core/src/appleMain/kotlin/Connection.kt
  core/src/commonMain/kotlin/Job.kt
  core/src/commonMain/kotlin/SharedRepeatableAction.kt
  core/src/commonMain/kotlin/Throwable.kt
  core/src/commonTest/kotlin/SharedRepeatableActionTests.kt
Labels: android, apple, patch

#574 Add documentation about `autoConnectIf`
  README.md
Labels: android, maintenance

#538 Provide additional details to data processor
  README.md
  core/api/core.api
  core/src/androidMain/kotlin/BluetoothDeviceAndroidPeripheral.kt
  core/src/androidMain/kotlin/gatt/Callback.kt
  core/src/androidMain/kotlin/logs/LogMessage.kt
  core/src/appleMain/kotlin/CBPeripheralCoreBluetoothPeripheral.kt
  core/src/appleMain/kotlin/PeripheralDelegate.kt
  core/src/appleMain/kotlin/logs/LogMessage.kt
  core/src/commonMain/kotlin/logs/Hex.kt
  core/src/commonMain/kotlin/logs/LogMessage.kt
  core/src/commonMain/kotlin/logs/Logger.kt
  core/src/commonMain/kotlin/logs/Logging.kt
  core/src/commonTest/kotlin/LogMessageTests.kt
  core/src/jsMain/kotlin/BluetoothDeviceWebBluetoothPeripheral.kt
  core/src/jsMain/kotlin/logs/LogMessage.kt
Labels: major

#578 Fix "disposed" peripheral log message
  core/src/androidMain/kotlin/BluetoothDeviceAndroidPeripheral.kt
Labels: android, patch

#579 Cancel in-flight connection attempt on `disconnect`
  core/src/androidMain/kotlin/BluetoothDeviceAndroidPeripheral.kt
Labels: android, patch

#580 Monitor bluetooth state before initiating connection
  core/src/androidMain/kotlin/BluetoothDeviceAndroidPeripheral.kt
  core/src/appleMain/kotlin/CBPeripheralCoreBluetoothPeripheral.kt
Labels: android, apple, patch
